@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}
html, body {
    width: 1200px;
    height: auto;
}
div {
    display: block;
  }
/** top menu **/
.topbar {
    width: 1200px;
    display: flex;
    height: 114px;
}
.topicon5 {
    width: 300px;
    display: flex;
}

/** 다른 메뉴 **/
.topmenu {
    width: calc(1200px -300px)
    display: flex;
}
.topright {
    width: 400px;

}
/** logo ***/


/** 큰로고 **/


